* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

@font-face {
    font-family: chiller-3d;
    src: url(../fonts/CHILLER.TTF);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}

/*body {
        background-color: #000;
        color: #fff;
        font-family: chiller-3d;
    }*/
.logo {
    --logo-size: calc(var(--index) * 7);
    width: var(--logo-size);
    height: var(--logo-size);
    background-repeat: no-repeat;
    position: absolute;
    left: 13vw;
    top: calc(var(--index) * .2);
    z-index: 1;
}

.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}

.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
    transform: translateZ(88px) scale(.88);
}

.layer-3 {
    transform: translateZ(180px) scale(.8);
}

.layer-4 {
    transform: translateZ(190px) scale(.9);
}

.layer-5 {
    transform: translateZ(300px) scale(.9);
}

.layer-6 {
    transform: translateZ(380px);
}

.hero-content {
    font-size: calc(var(--index) * 2.9);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -.15);
    line-height: 1.35em;
    margin-top: calc(var(--index) * 5.5);
}

.hero-content span {
    display: block;
}

.hero-content__p {
    text-transform: none;
    font-family: merriweather-italic-3d;
    background-color: transparent;
    color: #fff;
    letter-spacing: normal;
    font-size: calc(var(--index) * .73);
    line-height: 3;

}

/*.come {
    height: 100vh;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
.WELCOME {
    background-image: url(/IMG/welcome-button.png);
    background-size: cover;
    width: 205px;
    height: 53px;


}*/
/*.button-start {
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #D67025;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 2.5);
}

.layer-4,
.layer-5,
.layer-6 {
    pointer-events: none;
}*/



/*страница 2*/
.wrapper {
    height: 100vh;
    min-height: auto;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/IMG/СТРАНИЦАWELCOME.png);

}

.CONTENT-LEFT {
    width: 480px;
    min-height: auto;
    margin-left: 70px;
    margin-top: 460px;
    text-align: left;

}

h1 {
    color: #EF7C00;
    font-family: Chiller;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.013%;
    text-align: center;

}


h6 {
    color: #000;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    /* 30.6px */
}

p3 {
    color: #000;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 170%;
    /* 34px */
}

p1 {
    color: #EF7C00;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.013%;
}

p2 {
    color: #000;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 137.013%;
}


.CONTENT-RIGHT {

    width: 400px;
    height: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-top: 500px;
    padding-left: 450px;
}

.SERVICE {
    background-image: url(/IMG/SERVICE.png);
    background-size: cover;
    min-width: 326px;
    min-height: 73px;

}

.CONTACTS {
    background-image: url(/IMG/CONTACTS.png);
    background-size: cover;
    min-width: 326px;
    min-height: 73px;

}

.HITSWITHKIDS p1 {
    text-align: center;
}

/*страница 3*/

main {
    height: 100vh;
    min-height: auto;
    background-color: #F3EED8;
    display: flex;
    columns: wrap;
    position: relative;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}

.HIGHLIGHTS-TEXT>h1,
.HITS-WITH-KIDS-TEXT>h1,
.FEEDINGS-TEXT>h1 {
    color: #EF7C00;
    font-family: Chiller;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 137%;
}

.HIGHLIGHTS-TEXT>p>span,
.HITS-WITH-KIDS-TEXT>p>span,
.FEEDINGS-TEXT>p>span {
    color: #EF7C00;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 137%;
}

.HIGHLIGHTS-TEXT>p,
.HITS-WITH-KIDS-TEXT>p,
.FEEDINGS-TEXT>p {
    color: #000;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 137%;

}

#HIGHLIGHTS {

    display: flex;
    width: 480px;
    height: 1024px;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.IMG_1 {
    display: flex;
    height: 386px;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 0px 0px;

}


.HIGHLIGHTS-TEXT {
    display: flex;
    width: 419px;
    height: 638px;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 0px 0px 22px;


}

#HITS-WITH-KIDS {
    width: 480px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.HITS-WITH-KIDS-TEXT {
    display: flex;
    height: 1024px;
    padding: 0px 39px 0px 22px;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
}

#FEEDINGS {
    display: flex;
    width: 480px;
    height: 1024px;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.FEEDINGS-TEXT {
    display: flex;
    width: 419px;
    height: 680px;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 0px 0px 22px;

}

.IMG_2 {
    display: flex;
    height: 344px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 100px 0px 0px 0px;

}

/*страницап 4*/

.block {
    height: 100vh;
    min-height: auto;
    flex-shrink: 0;
    background-color: #F3EED8;
    display: flex;
    columns: wrap;
    position: relative;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.block1 {
    display: flex;
    width: 897px;
    height: 658px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    
}

.block2 {
    display: flex;
    width: 725px;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-left: 40px;

}

.block3 {
    width: 472px;
    height: 638px;
    flex-shrink: 0;
}

.block4 {
    width: 359px;
    height: 266px;
    flex-shrink: 0;
    padding-left: 40px;

}