body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    align-items: baseline;
    width: 1432px;
    background: #F3EED8;
}

#HIGHLIGHTS {
    display: flex;
    width: 483px;
    height: auto;
    padding-bottom: 1.286px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.338px;
    flex-shrink: 0;
}
.HIGHLIGHTS-TEXT {
    display: flex;
    width: 419px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.HIGHLIGHTS-TEXT > h1,
.HITS-WITH-KIDS-TEXT > h1,
.FEEDINGS-TEXT > h1 {
    color: #EF7C00;
    font-family: Chiller;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.013%;
}

.HIGHLIGHTS-TEXT > p > span,
.HITS-WITH-KIDS-TEXT > p > span,
.FEEDINGS-TEXT > p > span {
    color: #EF7C00;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.013%;
}

.HIGHLIGHTS-TEXT > p,
.HITS-WITH-KIDS-TEXT > p,
.FEEDINGS-TEXT > p {
    color: #000;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 137.013%;
}

.IMG_1 {
    display: flex;
    width: 483px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.HITS-WITH-KIDS-TEXT {
    display: flex;
    padding: 0px 22px 3px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FEEDINGS {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
    flex-shrink: 0;
}

.IMG_2 {
    display: flex;
    width: auto;
    height: auto;
    align-self: flex-end;
    flex-shrink: 0;
    
}

