body {
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
    min-height: auto;
    background-color: #F3EED8;
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.HIGHLIGHTS-TEXT>h1,
.HITS-WITH-KIDS-TEXT>h1,
.FEEDINGS-TEXT>h1 {
    color: #EF7C00;
    font-family: Chiller;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 137%;
}

.HIGHLIGHTS-TEXT>p>span,
.HITS-WITH-KIDS-TEXT>p>span,
.FEEDINGS-TEXT>p>span {
    color: #EF7C00;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 137%;
}

.HIGHLIGHTS-TEXT>p,
.HITS-WITH-KIDS-TEXT>p,
.FEEDINGS-TEXT>p {
    color: #000;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 137%;

}

#HIGHLIGHTS {

    display: flex;
    width: 480px;
    height: 1024px;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    
}

.IMG_1 {
    display: flex;
    height: 386px;
    justify-content: center;
    align-items: center;

}


.HIGHLIGHTS-TEXT {
    display: flex;
    width: 419px;
    height: 638px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 22px;


}

#HITS-WITH-KIDS {
    width: 480px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.HITS-WITH-KIDS-TEXT {
    display: flex;
    height: 1024px;
    padding: 0px 39px 0px 22px;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    
}

#FEEDINGS {
    display: flex;
    width: 480px;
    height: 1024px;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.FEEDINGS-TEXT {
    display: flex;
    width: 419px;
    height: 680px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 22px;

}

.IMG_2 {
    display: flex;
    height: 344px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 100px 0px 0px 0px;

}

