* {
    margin: 0;
    padding: 0;
   
}

main {
    height: 100vh;
    min-height: auto;
    background-color: #F3EED8;
    display: flex;
    columns: wrap;
    position: relative;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.block {
    height: 100vh;
    min-height: auto;
    flex-shrink: 0;
    background-color: #F3EED8;
    display: flex;
    columns: wrap;
    position: relative;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.block1 {
    display: flex;
    width: 897px;
    height: 658px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    
}

.block2 {
    display: flex;
    width: 725px;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-left: 40px;

}

.block3 {
    width: 472px;
    height: 638px;
    flex-shrink: 0;
}

.block4 {
    width: 359px;
    height: 266px;
    flex-shrink: 0;
    padding-left: 40px;

}


