body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;
    flex-shrink: 0;
    background: #F3EED8;
    display: flex;
    columns: wrap;
    flex-shrink: 0;
    position: relative;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;



}

.block1 {
    display: flex;
    width: 897px;
    height: 658px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.block2 {
    display: flex;
    width: 725px;
    height: 226px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.block3 {
    width: 472px;
    height: 638px;
    flex-shrink: 0;
}

.block4 {
    width: 359px;
    height: 266px;
    flex-shrink: 0;
}


